/*Jeffrey Winters, 12/9/2021*/
header {
    background-color: darkgray;
    text-align: center;
}

.links {
    display: inline-block;
    list-style-type: none;
    margin-top: none;
}

.links a {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block; 
    text-decoration-line: none;
    margin: 2em 0.5em 2em 0em;
    border: solid black;
    padding: 1em;
    font-weight: bold;
    background-color: gray;

}

.links a:hover {
    background-color: black;
}

footer {
    padding: 3em;
    text-align: center;
    background-color: darkgray;
}

footer h5, footer li {
    color: black;
    text-align: center;
    font-size: medium;
}

footer h5 {
    margin-top: 1em;
}

footer li {
    list-style-type: none;
}

body {
    background-image: url(../images/canyonphoto1.jpg);
    color: black;;
    font-family: Arial, Helvetica, sans-serif;
}

body h2 {
    background-color: white;
    opacity: 80%;
    border-radius: 1em;
    padding: 1em;
}

.tableauPlaceholder {
    margin-top: 2em;
}

.aligncenter {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

#tableaunav {
    resize: horizontal;
    background-color: white;
    text-align: right;
}

#tableauheader {
    resize: horizontal;
}

#tableaubody {
    resize: both;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#tableaufooter {
    resize: horizontal;
}
